{% include base_path %}

{% if post.thumbnail %}
  {% assign teaser = post.thumbnail %}
{% elsif post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="publication-card-wrapper">
  <!-- <article class="archive__item pub-card publication-card publication-card-{{ post.category | slugify }}" itemscope itemtype="http://schema.org/CreativeWork"> -->
  <article class="archive__item pub-card publication-card publication-card-{{ post.category | slugify }}" itemscope itemtype="http://schema.org/CreativeWork">
    {% if teaser %}
      <div class="pub-thumb publication-thumb">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="{{ post.title }}">
      </div>
    {% endif %}

    <div class="pub-content publication-content">

      <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a>
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">
            <i class="fa fa-link" aria-hidden="true" title="permalink"></i>
            <span class="sr-only">Permalink</span>
          </a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>

          {% if post.category %}
            <span class="pub-category-badge pub-category-{{ post.category | slugify }}">
              {{ post.category }}
            </span>
          {% endif %}
        {% endif %}
      </h2>

      {% if post.collection == 'publications' %}
        <p>
          Published in <i>{{ post.venue }}</i>,
          {{ post.date | default: "1900-01-01" | date: "%Y" }}
        </p>
      {% endif %}

      {% if post.excerpt %}
        <p class="archive__item-excerpt">
          {{ post.excerpt | markdownify | strip_html | truncate: 220 }}
        </p>
      {% endif %}

      {% if post.paperurl or post.pdfurl or post.arxivurl or post.codeurl or post.testurl or post.pypiurl or post.docsurl or post.demourl or post.userstudyurl or post.slidesurl or post.posterurl or post.bibtexurl %}
        <p class="pub-buttons">

          <a href="{{ base_path }}{{ post.url }}" class="custom-btn btn-paper">Publication Page</a>

          {% if post.paperurl %}
            <a href="{{ post.paperurl }}" target="_blank" class="custom-btn btn-paper">Paper</a>
          {% endif %}

          {% if post.pdfurl %}
            <a href="{{ post.pdfurl }}" target="_blank" class="custom-btn btn-paper">PDF</a>
          {% endif %}

          {% if post.arxivurl %}
            <a href="{{ post.arxivurl }}" target="_blank" class="custom-btn btn-arxiv">arXiv</a>
          {% endif %}

          {% if post.codeurl %}
            <a href="{{ post.codeurl }}" target="_blank" class="custom-btn btn-code">Code</a>
          {% endif %}

          {% if post.testurl %}
            <a href="{{ post.testurl }}" target="_blank" class="custom-btn btn-tests">Tests</a>
          {% endif %}

          {% if post.pypiurl %}
            <a href="{{ post.pypiurl }}" target="_blank" class="custom-btn btn-pypi">PyPI</a>
          {% endif %}

          {% if post.docsurl %}
            <a href="{{ post.docsurl }}" target="_blank" class="custom-btn btn-docs">Docs</a>
          {% endif %}

          {% if post.demourl %}
            <a href="{{ post.demourl }}" target="_blank" class="custom-btn btn-demo">Demo</a>
          {% endif %}

          {% if post.userstudyurl %}
            <a href="{{ post.userstudyurl }}" target="_blank" class="custom-btn btn-demo">User Study</a>
          {% endif %}

          {% if post.slidesurl %}
            <a href="{{ post.slidesurl }}" target="_blank" class="custom-btn btn-slides">Slides</a>
          {% endif %}

          {% if post.posterurl %}
            <a href="{{ post.posterurl }}" target="_blank" class="custom-btn btn-poster">Poster</a>
          {% endif %}

          {% if post.bibtexurl %}
            <a href="{{ post.bibtexurl }}" target="_blank" class="custom-btn btn-tests">BibTeX</a>
          {% endif %}
        </p>
      {% endif %}

      {% if post.research_area %}
        <p class="pub-meta">
          <strong>Research Area:</strong>
          {{ post.research_area | join: ", " }}
        </p>
      {% endif %}

      {% if post.subcategory %}
        <p class="pub-meta">
          <strong>Subcategory:</strong>
          {{ post.subcategory | join: ", " }}
        </p>
      {% endif %}

    </div>

  </article>
</div>