{% include base_path %}

{% if post.thumbnail %}
  {% assign teaser = post.thumbnail %}
{% elsif post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="talk-card-wrapper">
  <article class="archive__item pub-card talk-card talk-card-{{ post.type | slugify }}" itemscope itemtype="http://schema.org/CreativeWork">

    {% if teaser %}
      <div class="pub-thumb talk-thumb">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="{{ post.title }}">
      </div>
    {% endif %}

    <div class="pub-content talk-content">

      <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>

        {% if post.type %}
          <span class="pub-category-badge pub-category-talk">
            {{ post.type }}
          </span>
        {% endif %}
      </h2>

      {% if post.venue or post.date %}
        <p>
          {% if post.venue %}
            Presented at <i>{{ post.venue }}</i>
          {% endif %}
          {% if post.date %}
            , {{ post.date | default: "1900-01-01" | date: "%Y" }}
          {% endif %}
        </p>
      {% endif %}

      {% if post.location %}
        <p class="pub-meta">
          <strong>Location:</strong> {{ post.location }}
        </p>
      {% endif %}

      {% if post.excerpt %}
        <p class="archive__item-excerpt">
          {{ post.excerpt | markdownify | strip_html | truncate: 220 }}
        </p>
      {% endif %}

      <p class="pub-buttons">
        <a href="{{ base_path }}{{ post.url }}" class="custom-btn btn-paper">Talk Page</a>

        {% if post.paperurl %}
          <a href="{{ post.paperurl }}" target="_blank" class="custom-btn btn-paper">Paper</a>
        {% endif %}

        {% if post.slidesurl %}
          <a href="{{ post.slidesurl }}" target="_blank" class="custom-btn btn-slides">Slides</a>
        {% endif %}

        {% if post.posterurl %}
          <a href="{{ post.posterurl }}" target="_blank" class="custom-btn btn-poster">Poster</a>
        {% endif %}

        {% if post.videourl %}
          <a href="{{ post.videourl }}" target="_blank" class="custom-btn btn-demo">Video</a>
        {% endif %}

        {% if post.talkurl %}
          <a href="{{ post.talkurl }}" target="_blank" class="custom-btn btn-code">Talk Link</a>
        {% endif %}

        {% if post.codeurl %}
          <a href="{{ post.codeurl }}" target="_blank" class="custom-btn btn-code">Code</a>
        {% endif %}
      </p>

      {% if post.research_area %}
        <p class="pub-meta">
          <strong>Research Area:</strong>
          {{ post.research_area | join: ", " }}
        </p>
      {% endif %}
      {% if post.subcategory %}
      <hr>
      <p class="project-meta">
        <strong>Subcategory:</strong>
        {{ post.subcategory | join: ", " }}
      </p>
      {% endif %}

    </div>

  </article>
</div>