{% include base_path %}

{% if post.thumbnail %}
  {% assign teaser = post.thumbnail %}
{% elsif post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item pub-card" itemscope itemtype="http://schema.org/CreativeWork">

    {% if teaser %}
      <div class="pub-thumb">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="{{ post.title }}">
      </div>
    {% endif %}

    <div class="pub-content">

      <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a>
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">
            <i class="fa fa-link" aria-hidden="true" title="permalink"></i>
            <span class="sr-only">Permalink</span>
          </a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>

      {% if post.collection == 'publications' %}
        <p>
          Published in <i>{{ post.venue }}</i>,
          {{ post.date | default: "1900-01-01" | date: "%Y" }}
        </p>
      {% endif %}

      {% if post.paperurl or post.pdfurl or post.arxivurl or post.codeurl or post.testurl or post.pypiurl or post.demourl or post.userstudyurl or post.slidesurl or post.posterurl or post.bibtexurl %}
        <p class="pub-buttons">
          {% if post.paperurl %}
            <a href="{{ post.paperurl }}" class="custom-btn btn-paper">Paper</a>
          {% endif %}

          {% if post.pdfurl %}
            <a href="{{ post.pdfurl }}" class="custom-btn btn-paper">PDF</a>
          {% endif %}

          {% if post.arxivurl %}
            <a href="{{ post.arxivurl }}" class="custom-btn btn-arxiv">arXiv</a>
          {% endif %}

          {% if post.codeurl %}
            <a href="{{ post.codeurl }}" class="custom-btn btn-code">Code</a>
          {% endif %}

          {% if post.testurl %}
            <a href="{{ post.testurl }}" class="custom-btn btn-tests">Tests</a>
          {% endif %}

          {% if post.pypiurl %}
            <a href="{{ post.pypiurl }}" class="custom-btn btn-pypi">PyPI</a>
          {% endif %}

          {% if post.demourl %}
            <a href="{{ post.demourl }}" class="custom-btn btn-demo">Demo</a>
          {% endif %}

          {% if post.userstudyurl %}
            <a href="{{ post.userstudyurl }}" class="custom-btn btn-demo">User Study</a>
          {% endif %}

          {% if post.slidesurl %}
            <a href="{{ post.slidesurl }}" class="custom-btn btn-slides">Slides</a>
          {% endif %}

          {% if post.posterurl %}
            <a href="{{ post.posterurl }}" class="custom-btn btn-poster">Poster</a>
          {% endif %}

          {% if post.bibtexurl %}
            <a href="{{ post.bibtexurl }}" class="custom-btn btn-tests">BibTeX</a>
          {% endif %}
        </p>
      {% endif %}

      {% if post.research_area %}
        <p class="pub-meta">
          <strong>Research Area:</strong>
          {{ post.research_area | join: ", " }}
        </p>
      {% endif %}

      {% if post.subcategory %}
        <p class="pub-meta">
          <strong>Subcategory:</strong>
          {{ post.subcategory | join: ", " }}
        </p>
      {% endif %}

      <!-- {% if post.tags %}
        <p class="pub-tags">
          {% for tag in post.tags %}
            <a href="{{ base_path }}/tags/#{{ tag | slugify }}" class="tag">{{ tag }}</a>
          {% endfor %}
        </p>
      {% endif %} -->

    </div>

  </article>
</div>